<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li><i class="ace-icon fa fa-home home-icon"></i><a href="#">Home</a>
            </li>            
			<li class="active">Roles</li> 
        </ul>

        <!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text"
                        placeholder="Search ..." class="nav-search-input"
                        id="nav-search-input" autocomplete="off" />
                    <i
                        class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div>
        <!-- /.nav-search -->
    </div>

    <div class="page-content">
      
        <div class="page-header">
            <h1>Roles <small><i
                class="ace-icon fa fa-angle-double-right"></i>
            </small>
            </h1>
        </div>


        <div class="row">
            <!-- PAGE CONTENT STARTS -->
             <div class="col-sm-10 pricing-box" id="FormPreview" style="text-align:center;">   
                 
               <span>  </span>
                           
            </div>
          <!--  <div class="col-sm-3 pricing-box">
                <div class="widget-box pricing-box-small widget-color-blue">
                    <div class="widget-header">
                        <h5 class="widget-title bigger lighter">Domain Model</h5>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main no-padding">
                             <a href="#DomainModel" class="profile-picture" onclick="menulinks(this)"><img id="Img2" class="editable img-responsive editable-click editable-empty" alt="Domain Model" 
                                    src="/Images/Mendix Images/entity_relationship_model_icon.jpg" />
                            </a>
                        </div>

                        <div>
                            <a href="#DomainModel" class="btn btn-block btn-sm btn-primary" onclick="menulinks(this)">More info 
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 pricing-box">
                <div class="widget-box pricing-box-small widget-color-orange">
                    <div class="widget-header">
                        <h5 class="widget-title bigger lighter">MicroFlow</h5>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main no-padding">
                             <a href="#MicroFlow" class="profile-picture" onclick="menulinks(this)"><img id="Img1" class="editable img-responsive editable-click editable-empty" alt="MicroFlow" 
                                    src="/Images/Mendix Images/WORKFLOW.jpg" />
                            </a>
                        </div>

                        <div>
                            <a href="#MicroFlow" class="btn btn-block btn-sm btn-warning" onclick="menulinks(this)">More info 
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 pricing-box">
                <div class="widget-box pricing-box-small widget-color-green">
                    <div class="widget-header">
                        <h5 class="widget-title bigger lighter">Design Forms</h5>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main no-padding">
                          
                            <a href="#FormsList" class="profile-picture" onclick="menulinks(this)"><img id="avatar" class="editable img-responsive editable-click editable-empty" alt="Design Forms" 
                                    src="/Images/Mendix Images/form.png" />
                            </a>
                        </div>
                        <div>
                            <a href="#FormsList" class="btn btn-block btn-sm btn-success" onclick="menulinks(this)">More info 
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>-->

            <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
    </div>
</div>

