<style>
    .Error {
        color: #a94442;
        font-size: 12px;
    }
 </style>
 <script type="text/javascript" src="../Scripts/AppScripts/policy/policy.js"></script>
<body>
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>
            <ul class="breadcrumb">
                <li><i class="ace-icon fa fa-home home-icon"></i><a href="#">Home</a></li>
                <li><a>Admin</a></li>
                <li>Policy</li>
            </ul>
        </div>
    </div>
    <div class="icon-bar">
        <a class="disableicons Toolbar_Settings" title="Settings">
            <img src="../Images/ToolbarIcons/Settings.png" /></a>
        <a class="disableicons Toolbar_UploadImage" title="Upload Image">
            <img src="../Images/ToolbarIcons/UploadImage.png" /></a>
        <a class="disableicons Toolbar_UploadFile" title="Upload CSV">
            <img src="../Images/ToolbarIcons/UploadFile.png" /></a>
        <a class="disableicons Toolbar_ExportPDF" title="Export PDF">
            <img src="../Images/ToolbarIcons/ExportPDF.png" /></a>
        <a class="disableicons Toolbar_ExportExcel" title="Export Excel">
            <img src="../Images/ToolbarIcons/ExportExcel.png" /></a>
        <a class="disableicons Toolbar_Draft" title="Open Draft">
            <img src="../Images/ToolbarIcons/OpenDraft.png" /></a>
        <a class="disableicons Toolbar_Preview" title="Preview">
            <img src="../Images/ToolbarIcons/Preview.png"></a>
         <a class="disableicons Toolbar_Create" title="Invoke">
            <img src="../Images/ToolbarIcons/Invoke.png" /></a>
        <a class="Toolbar_Cancel" title="Cancel" onclick="fn_cancel()">
            <img src="../Analytics/Content/Images/ToolbarIcons/Cancel.png"></a>
        <a class="disableicons Toolbar_Delete" title="Delete Record">
            <img src="../Images/ToolbarIcons/Delete.png" /></a>
        <a class="Toolbar_List" title="View Entries" href="#pwdList">
            <img src="../Images/ToolbarIcons/List.png" /></a>
        <a class="disableicons Toolbar_Edit" title="Edit">
            <img src="../Images/ToolbarIcons/Edit.png" /></a>
        <a class="Toolbar_Save" title="Save" id="savelink" onclick="fn_save_policydetailes()">
            <img src="../Images/ToolbarIcons/Save.png" /></a>
        <a class="disableicons Toolbar_AddConnection" title="Add Connection">
            <img src="../Images/ToolbarIcons/AddConnection.png"></a>
        <a class="disableicons Toolbar_AddDB" title="Add Stored Procedure">
            <img src="../Images/ToolbarIcons/AddDB.png"></a>
        <a class="Toolbar_Create" title="Create" onclick="ClearTextbox23()">
            <img src="../Images/ToolbarIcons/Create.png" /></a>

        <div class="page-header">
            <h1>Policy Creation <small><i class="ace-icon fa fa-angle-double-right"></i>
            </small>
            </h1>
        </div>
    </div>
    <div class="formdiv" style="margin-left: 5%;" id="form_div">
        <div class="row  newform">
            <input type="text" id="idUserlabel" style="display: none" />
            <div class="col-xs-10 col-sm-6">
                <label>Policy Name<i style="color: red;">*</i></label>
                <input type="text" id="txt_policyname" placeholder="PolicyName"  maxlength="100" />
             <span id="errms"></span>
                <span class="Error row" id="er_fName" hidden></span>
            </div>
            <div class="checkbox col-xs-10 col-sm-6">
            </br>
                <label>
                    <input name="form-field-checkbox"  class="ace" type="checkbox" id="chackbox1" />
                    <span class="lbl " style="margin-left: -18px;">&nbsp;&nbsp;Active</label></span>
                    <span class="Error row" id="er_fName" hidden></span>
                </label>
            </div>

        </div>
        <div class="row  newform">
          <div class="col-xs-10 col-sm-6">
              <label>Minimum No.of Characters<i style="color: red;">*</i></label>

              <input type="text" id="txt_min_characters" placeholder="Minimum No.of Characters"   maxlength="2" />
              <span id="errmsg"></span>
            <!-- <input id="txt_min_characters123" type='text'> -->
                <span class="Error row" id="er_minimum" hidden></span>
            <span id="errmsg6"></span>
          </div>
            <input type="text" id="idUserlabel" style="display: none" />
            <div class="col-xs-10 col-sm-6">
                <label>Maximum No.of Characters<i style="color: red;">*</i></label>
                <input type="text" id="txt_max_charaters" placeholder="Maximum No.of Charaters" tabindex="1" maxlength="2" />
                <span id="errmsg1"></span>

                <span class="Error row" id="er_maxmium" hidden></span>
            </div>
            <!-- <div class="col-xs-10 col-sm-4"> -->

          <!-- </div> -->
               <span id="errmsg7"></span>
        </div>
        <div class="row  newform">
          <!-- <div class ="col-xs-10 col-sm-1">

            <br/>
            <label>
            <input name="form-field-checkbox"  class="ace" type="checkbox" id="chackbox8"  />
            <span class="lbl" style="margin-top: 15px;"></span>
           </label>
            <!-- <input name="form-field-checkbox"  class="ace" type="checkbox" id="chackbox2"  />
            <span class="lbl" style="margin-left: -22px;">&nbsp;&nbsp;Special Characters Required</span> -->
            <!-- <span class="Error row" id="er_exp" hidden></span> -->
          <!-- </div>  -->
          <!-- <div class="col-xs-10 col-sm-5">
              <label>Password Expiry Days<i style="color: red;">*</i></label>
              <input type="text" id="txt_password" placeholder="Password Expiry Days" />
              <span id="errmsg3"></span>

                <span class="Error row" id="er_exp" hidden></span>

          </div> -->
          <div class="col-xs-10 col-sm-6">
          <label>Password Expiry Days</label>
          <div class="input-group">

              <span class="input-group-addon"><input name="form-field-checkbox"  class="ace" type="checkbox" id="chackbox8"  />
              <span class="lbl" ></span></span>
            <input type="text" id="txt_password" placeholder="Password Expiry Days" />



          </div>
            <span id="errmsg3"></span>
      </div>

          <div class="col-xs-10 col-sm-6">
              <label>Session Expiry Time(in Minutes)<i style="color: red;">*</i></label>
              <input type="text" id="txt_session" placeholder="Session Experity Time(in minutes)" />
              <span id="errmsg2"></span>
              <span class="Error row" id="er_exp" hidden></span>
          </div>


        </div>

        <div class="row  newform">
           <!-- <div class ="col-xs-10 col-sm-1">
            <br/>
            <label>
            <input name="form-field-checkbox"  class="ace" type="checkbox" id="
            "  />
            <span class="lbl" style="margin-top: 15px;"></span>
           </label>
            <!-- <input name="form-field-checkbox"  class="ace" type="checkbox" id="chackbox2"  />
            <span class="lbl" style="margin-left: -22px;">&nbsp;&nbsp;Special Characters Required</span> -->
            <!-- <span class="Error row" id="er_exp" hidden></span> -->
          <!-- </div>  -->
          <!-- <div class="col-xs-10 col-sm-5">
              <label>Allowed Special Characters<i style="color: red;">*</i></label>
              <input type="text" id="txt_allow" placeholder="Allow Special Charaters"  /><span id="errmsg4"></span>
                <span class="Error row" id="er_allow" hidden></span>
          </div>  -->

          <!-- <div class="input-group ">
            <div class="input-group-prepend">
              <div class="input-group-text">
          <input type="checkbox" id="chackbox9" name="form-field-checkbox">
               <input name="form-field-checkbox"  class="ace" type="checkbox" id="chackbox9"  />
                 <span class="lbl" style="margin-top: 15px;"></span>

              </div>
            </div>
            <label>Allowed Special Characters<i style="color: red;">*</i></label>
            <input type="text" id="txt_allow" placeholder="Allow Special Charaters"  /><span id="errmsg4"></span>
              <span class="Error row" id="er_allow" hidden></span>
          </div> -->

          <div class="col-xs-10 col-sm-6">
            <label>Allowed Special Characters<i style="color: red;">*</i></label>
          <div class="input-group">

              <span class="input-group-addon"><input name="form-field-checkbox"  class="ace" type="checkbox" id="chackbox9"  /><span class="lbl" ></span></span>
              <input type="text" id="txt_allow" placeholder="Allow Special Charaters"  />



          </div>
            <span id="errmsg4"></span>
            <span class="Error row" id="er_allow" hidden></span>
      </div>
          <!-- <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" aria-label="Text input with checkbox">
          </div> -->
          <div class="checkbox col-xs-10 col-sm-6">
          <br/>
              <label>
                  <input name="form-field-checkbox"  class="ace" type="checkbox" id="chackbox2"  />
                  <span class="lbl" style="margin-left: -22px;">&nbsp;&nbsp;Special Characters Required</span>
                  <span class="Error row" id="er_exp" hidden></span>
              </label>
          </div>
  </div>
  <div class="row  newform">
            <div class="checkbox col-xs-10 col-sm-6">
            <br/>
                <label>
                    <input name="form-field-checkbox"  class="ace" type="checkbox" id="chackbox4" />
                    <span class="lbl" style="margin-left: -23px;">&nbsp;&nbsp;Lower Case Alphabet Required</span>
                    <span class="Error row" id="er_exp" hidden></span>
                </label>
            </div>

            <div class="checkbox col-xs-10 col-sm-6">
            <br/>
                <label>
                    <input name="form-field-checkbox"  class="ace" type="checkbox" id="chackbox5" />
                    <span class="lbl" style="margin-left: -19px;">&nbsp;&nbsp;Upper Case Alphabet Required</span>
                    <span class="Error row" id="er_exp" hidden></span>
                </label>
            </div>
</div>
    <div class="row  newform">
            <div class="checkbox col-xs-10 col-sm-6">
            <br/>
                <label>
                    <input name="form-field-checkbox"  class="ace" type="checkbox" id="chackbox6" />
                    <span class="lbl" style="margin-left: -22px;">&nbsp;&nbsp;Set Password After First Login</span>
                    <span class="Error row" id="er_exp" hidden></span>
                </label>
            </div>

        </div>

        <!-- <div class="row newform" >
          <div class="checkbox col-xs-10 col-sm-4">
          <br/
              <label>
                  <input name="form-field-checkbox"  class="ace" type="checkbox" id="checkbox7" />
                  <span class="lbl" style="margin-left: -4px;">&nbsp;&nbsp;Set Password after first login</span>
              </label>
          </div>
        </div> -->
    </div>
</body>
<style>

#errmsg{
color: red;
}
#errmsg1{
color: red;
}
#errmsg2{
color: red;
}
#errmsg3{
color: red;
}
#errms{
color:red;
}
#errmsg4{
color: red;
}
#errmsg6{
  color: red;
}
#errmsg7{
  color: red;
}
</style>
