<style>
    .Error {
        color: #a94442;
        font-size: 12px;
    }
</style>
<script type="text/javascript" src="../Scripts/AppScripts/ChangePassword/ChangePassword.js"></script>
<body>
    <div class="main-content-inner">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>
            <ul class="breadcrumb">
                <li><i class="ace-icon fa fa-home home-icon"></i><a href="#">Home</a></li>
                <li>Change Password</li>
            </ul>
        </div>
    </div>
    <div class="icon-bar">
        <a class="disableicons Toolbar_Settings" title="Settings">
            <img src="../Images/ToolbarIcons/Settings.png" /></a>
        <a class="disableicons Toolbar_UploadImage" title="Upload Image">
            <img src="../Images/ToolbarIcons/UploadImage.png" /></a>
        <a class="disableicons Toolbar_UploadFile" title="Upload CSV">
            <img src="../Images/ToolbarIcons/UploadFile.png" /></a>
        <a class="disableicons Toolbar_ExportPDF" title="Export PDF">
            <img src="../Images/ToolbarIcons/ExportPDF.png" /></a>
        <a class="disableicons Toolbar_ExportExcel" title="Export Excel">
            <img src="../Images/ToolbarIcons/ExportExcel.png" /></a>
        <a class="disableicons Toolbar_Draft" title="Open Draft">
            <img src="../Images/ToolbarIcons/OpenDraft.png" /></a>
        <a class="disableicons Toolbar_Preview" title="Preview">
            <img src="../Images/ToolbarIcons/Preview.png"></a>
        <a class="Toolbar_Cancel" title="Cancel" onclick="ClearTextbox()">
            <img src="../Analytics/Content/Images/ToolbarIcons/Cancel.png"></a>
        <a class="disableicons Toolbar_Delete" title="Delete Record">
            <img src="../Images/ToolbarIcons/Delete.png" /></a>
        <a class="disableicons Toolbar_List" title="View Entries">
            <img src="../Images/ToolbarIcons/List.png" /></a>
        <a class="disableicons Toolbar_Edit" title="Edit">
            <img src="../Images/ToolbarIcons/Edit.png" /></a>
        <a class="Toolbar_Save" title="Save" onclick="fn_Update_Password()">
            <img src="../Images/ToolbarIcons/Save.png" /></a>
        <a class="disableicons Toolbar_AddConnection" title="Add Connection">
            <img src="../Images/ToolbarIcons/AddConnection.png"></a>
        <a class="disableicons Toolbar_AddDB" title="Add Stored Procedure">
            <img src="../Images/ToolbarIcons/AddDB.png"></a>
        <a class="disableicons Toolbar_Create" title="Create" href="#Users">
            <img src="../Images/ToolbarIcons/Create.png" /></a>
        <div class="page-header">
            <h1>Change Password <small><i class="ace-icon fa fa-angle-double-right"></i>
            </small>
            </h1>
        </div>
    </div>
    <div class="formdiv" style="margin-left: 5%;">
        <div class="row  newform">
            <span class="Error green" id="er_SuccessUpdated" hidden></span>
            <div class="col-xs-10 col-sm-4 col-sm-offset-3">
                <label>Old Password<i style="color: red;">*</i></label>
                <input type="password" id="txt_OldPassword" placeholder="Old Password" tabindex="1" />
                <span class="Error row" id="er_OldPassword" hidden></span>
            </div>
            <div class="col-xs-10 col-sm-4 col-sm-offset-3">
                <label>New Password<i style="color: red;">*</i></label>
                <input type="password" id="txt_NewPassword" placeholder="New Password" tabindex="2" />
                <span class="Error row" id="er_NewPassword" hidden></span>
            </div>
            <div class="col-xs-10 col-sm-4 col-sm-offset-3">
                <label>Confirm Password<i style="color: red;">*</i></label>
                <input type="password" id="txt_ConfirmPassword" placeholder="Confirm Password" tabindex="3" />
                <span class="Error row" id="er_ConfirmPassword" hidden></span>
            </div>
        </div>
    </div>
</body>
