*{font-family:'WOL_Reg','Segoe UI',Tahoma,Helvetica,sans-serif;}

.side-button{
  height:50px;
  width:70px;
  background:none repeat scroll 0 0 #DF314D;
  position:absolute;
   z-index:1;
  top:60px;
  left:200px;
  transition: all 0.5s ease-in-out;
  cursor:pointer;
  border-radius:0 5px 5px 0;
}

.side-button:hover{
  width:80px;
  background:#52B0E3;
  transition: all 0.5s ease-in-out;
}

.side-button:after{
 color: #EEEEEE;
    content: "MENU";
    font-size: 1em;
    left: 10px;
    position: absolute;
    top: 13px;
    transition: all 0.5s ease-in-out 0s;
}

.side-button:hover:after{
  content:"MENU";
  font-size:23px;
  position:absolute;
  left:10px;
  top:8px;
  color:#eee;
  transition-delay: 2s;
  transition: all 0.5s ease-in-out;
}

.left .side-button:after{
  content:"MENU";
}
.filterli
{
    background-image: url('../../RdlcAssists/custom-reports-icon.png'); 
    background-repeat: no-repeat;
    z-index:-1;
}
.liselected
{
    background: none repeat scroll 0 0 #FF9900;
}

.left .side-button:hover:after{
  content:"MENU";
}

.sidebar{
  width:200px;
  /*background:#aaa;*/
  position:absolute;
  top:0;
  bottom:0;
  left:-200px;
  transition: all 0.5s ease-in-out;
}

.sidebar ul{
  width:200px;
  list-style-type:none;
  background:#555;
  font-size:13px;
  color:#eee; 
  text-align:center;
  padding-left:0;
 /* text-transform:uppercase;*/
  position:absolute;
  top:300px;
  z-index:1;
  transition: all 0.7s ease-in-out;
}

.sidebar ul li{
  height:25px;
  margin-bottom:1px;
  padding-top:7px;
  background:#333;
  cursor:pointer;
  transition: all 0.4s ease-in-out;
  position:relative;
}

.sidebar ul li:hover{  
background: none repeat scroll 0 0 #FF9900;
}

.left{
  left:0;
}

.top{
  top:0!important; 
  height: 100%;
  overflow: hidden;
   overflow-y: auto;
    max-width:200px;
}