@font-face {
    font-family: 'Pictos';
    src: url("/fonts/pictos.eot?iefix");
    src: local("Pictos"),url("/fonts/pictos.woff") format("woff"),url("/fonts/pictos.ttf") format("truetype"),url("/fonts/pictos.svg#webfontIyfZbseF") format("svg");
    font-weight: normal;
    font-style: normal;
}

.pictos {
    font-family: "Pictos";
}

.p-a:before {
    font-family: "Pictos";
    content: "a ";
}

.p-b:before {
    font-family: "Pictos";
    content: "b ";
}

.p-c:before {
    font-family: "Pictos";
    content: "c ";
}

.p-d:before {
    font-family: "Pictos";
    content: "d ";
}

.p-e:before {
    font-family: "Pictos";
    content: "e ";
}

.p-f:before {
    font-family: "Pictos";
    content: "f ";
}

.p-g:before {
    font-family: "Pictos";
    content: "g ";
}

.p-h:before {
    font-family: "Pictos";
    content: "h ";
}

.p-i:before {
    font-family: "Pictos";
    content: "i ";
}

.p-j:before {
    font-family: "Pictos";
    content: "j ";
}

.p-k:before {
    font-family: "Pictos";
    content: "k ";
}

.p-l:before {
    font-family: "Pictos";
    content: "l ";
}

.p-m:before {
    font-family: "Pictos";
    content: "m ";
}

.p-n:before {
    font-family: "Pictos";
    content: "n ";
}

.p-o:before {
    font-family: "Pictos";
    content: "o ";
}

.p-p:before {
    font-family: "Pictos";
    content: "p ";
}

.p-q:before {
    font-family: "Pictos";
    content: "q ";
}

.p-r:before {
    font-family: "Pictos";
    content: "r ";
}

.p-s:before {
    font-family: "Pictos";
    content: "s ";
}

.p-t:before {
    font-family: "Pictos";
    content: "t ";
}

.p-u:before {
    font-family: "Pictos";
    content: "u ";
}

.p-v:before {
    font-family: "Pictos";
    content: "v ";
}

.p-w:before {
    font-family: "Pictos";
    content: "w ";
}

.p-x:before {
    font-family: "Pictos";
    content: "x ";
}

.p-y:before {
    font-family: "Pictos";
    content: "y ";
}

.p-z:before {
    font-family: "Pictos";
    content: "z ";
}

.p-A:before {
    font-family: "Pictos";
    content: "A ";
}

.p-B:before {
    font-family: "Pictos";
    content: "B ";
}

.p-C:before {
    font-family: "Pictos";
    content: "C ";
}

.p-D:before {
    font-family: "Pictos";
    content: "D ";
}

.p-E:before {
    font-family: "Pictos";
    content: "E ";
}

.p-F:before {
    font-family: "Pictos";
    content: "F ";
}

.p-G:before {
    font-family: "Pictos";
    content: "G ";
}

.p-H:before {
    font-family: "Pictos";
    content: "H ";
}

.p-I:before {
    font-family: "Pictos";
    content: "I ";
}

.p-J:before {
    font-family: "Pictos";
    content: "J ";
}

.p-K:before {
    font-family: "Pictos";
    content: "K ";
}

.p-L:before {
    font-family: "Pictos";
    content: "L ";
}

.p-M:before {
    font-family: "Pictos";
    content: "M ";
}

.p-N:before {
    font-family: "Pictos";
    content: "N ";
}

.p-O:before {
    font-family: "Pictos";
    content: "O ";
}

.p-P:before {
    font-family: "Pictos";
    content: "P ";
}

.p-Q:before {
    font-family: "Pictos";
    content: "Q ";
}

.p-R:before {
    font-family: "Pictos";
    content: "R ";
}

.p-S:before {
    font-family: "Pictos";
    content: "S ";
}

.p-T:before {
    font-family: "Pictos";
    content: "T ";
}

.p-U:before {
    font-family: "Pictos";
    content: "U ";
}

.p-V:before {
    font-family: "Pictos";
    content: "V ";
}

.p-W:before {
    font-family: "Pictos";
    content: "W ";
}

.p-X:before {
    font-family: "Pictos";
    content: "X ";
}

.p-Y:before {
    font-family: "Pictos";
    content: "Y ";
}

.p-Z:before {
    font-family: "Pictos";
    content: "Z ";
}

#container, #footer {
    width: 1050px;
}

#stage {
    background: #FFF url(/images/sidebarbg.png) repeat-y -20px 0;
    position: relative;
}

.afi {
    background-image: url(/images/sidebarbg.png) !important;
}

.cfo {
    background-image: url(/images/sidebarbg2.png) !important;
}

.cfi {
    background-image: url(/images/sidebarbg3.png) !important;
}

#main {
    float: left;
    height: auto;
    /*min-height: 500px;*/
    width: 650px;
}

* html #main {
    width: 610px;
}

#side {
    float: left;
    width: 369px;
    height: 500px;
}

    #side[id] {
        height: auto;
        min-height: 556px;
        width: 370px;
    }

#main form {
    margin: 10px 0 0 15px;
    padding: 0 0 95px 0;
}

  .sortable-placeholder {
    opacity: 0.3;
  }

* html #main form {
    padding-bottom: 0;
}

#formButtons {
    padding: 11px 0 7px;
    width: 680px;
    /* background: #ffff9b ; */
    background: none repeat scroll 0 0 #f5f5f5;
   /*  border-top: 1px solid #f7da77; */
   border-top: 1px solid #e5e5e5;
    text-align: center;
    margin-left: 1px;
}

    #formButtons[id] {
        position: absolute;
        /*z-index: 1000;*/
        bottom: 0;
        left: 50%;
        margin-left: -155px;
    }

.tooLong #formButtons[id] {
    /*position: fixed;*/
}

.tooLong #stage[id] {
    position: static;
}

#formButtons table {
    width: 100%;
}

#formButtons input {
    width: 30px;
    text-align: center;
}

#formButtons .pagejump img {
    margin: 0 0 -3px 0;
    cursor: pointer;
}

#tabs {
    float: left;
    width: 100%;
    list-style: none;
}

.afi #tabs {
    
    background: #f5f5f5  url(/Images/tabbottom3.gif) repeat-x bottom;

    /*background: #FFE79F url(/Images/tabbottom3.gif) repeat-x bottom;*/
}

.cfo #tabs {
    background: #D9EFC2 url(/Images/tabbottom3.gif) repeat-x bottom;
}

.cfi #tabs {
    background: #cfe7ff  url(/Images/tabbottom3.gif) repeat-x bottom;
}

#tabs li {
    float: left;
    font-size: 85%;
    text-align: left;
}
.aadfieldtab{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fdfded;
    background-position: 2px -3px !important;
    border-color: #efd586 #efd586 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #bf6f2f;
}
#tabs a {
    cursor: pointer;
    padding: 4px 6px 4px 25px;
    margin: 4px 0 0 0;
    display: inline-block;
    color: #666;
    text-decoration: none;
    background-image: url(/Images/tabtri.gif);
    background-repeat: no-repeat;
  /*   -webkit-border-top-right-radius: 12px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 12px;
    -moz-border-radius-topright: 12px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 12px; */
    background-clip: padding-box;
}

#tabs[id] a {
    display: block;
}

#tabs a:hover {
    color: #333;
}

#afi {
    width: 30%;
    margin-left: 4px;
}

#cfi {
    width: 33%;
}

.afi #tabs a, ul #afi a:hover {
    background-position: 3px -27px;
}

.cfo #tabs a, ul #cfo a:hover {
    background-position: 3px -177px;
}

.cfi #tabs a, ul #cfi a:hover {
    background-position: 3px -77px;
}

/*.afi #afi a {
    background-color: #FDFDED;
    background-position: 2px -3px !important;
    border: 1px solid #EFD586;
    border-bottom: none;
    color: #BF6F2F;
}

.cfo #cfo a {
    background-color: #F7FFEF;
    background-position: 2px -153px !important;
    border: 1px solid #B0CF8E;
    border-bottom: none;
    color: #517F07;
}

.cfi #cfi a {
    background-color: #EFF6FF;
    background-position: 2px -53px !important;
    border: 1px solid #A4CAEF;
    border-bottom: none;
    color: #3B699F;
}*/

textarea[disabled], input[disabled], select[disabled] {
    color: #666 !important;
    opacity: 1 !important;
}

textarea.disabledCustom {
    background: #efefef !important;
}

textarea.disabledCustom {
    background: #efefef !important;
}

#addFields {
    clear: both;
    width: 338px;
    padding: 15px 12px 15px 19px;
}

    #addFields h3 {
        clear: both;
        font-size: 11px;
        padding: 4px 0px;
        font-weight: bold;
    }

.stand {
    color: #236ABF !important;
}

.fancy {
    color: #CF3B19 !important;
}

#addFields ul {
    list-style: none;
    width: 49%;
    margin: 5px 0 7px 0;
}

#col1, #col3 {
    float: left;
}

#col2, #col4 {
    float: right;
}

#col1 li, #col3 li {
    margin: 0 0px 6px 0;
}

#col2 li, #col4 li {
    margin: 0 0px 6px 0;
}

#addFields a {
    font-size: 95%;
    padding: 4px 0 4px 34px;
    display: block;
    position: relative;
    border: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    border-radius: 9px;
    background-clip: padding-box;
}

    #addFields a:hover {
        background: #DFEEA3;
        border: 1px solid #C6D880;
        color: #444;
    }

    #addFields a:active {
        background: #C1DF5D;
        border: 1px solid #93B825;
        color: #333;
    }

    #addFields a b {
        line-height: 16px;
        width: 18px;
        height: 16px;
        display: inline-block;
        position: absolute;
        left: 8px;
        background-image: url(/Images/sprite.png);
        background-repeat: no-repeat;
    }

#sl b {
    background-position: -10px -549px;
}

#ml b {
    background-position: -10px -585px;
}

#mc b {
    background-position: -10px -619px;
}

#nu b {
    background-position: -10px -654px;
}

#cb b {
    background-position: -10px -688px;
}

#dd b {
    background-position: -10px -722px;
}

#na b {
    background-position: -10px -759px;
}

#fu b {
    background-position: -10px -938px;
}

#ti b {
    background-position: -10px -1010px;
}

#mo b {
    background-position: -10px -902px;
}

#ad b {
    background-position: -10px -794px;
}

#da b {
    background-position: -10px -975px;
}

#ph b {
    background-position: -10px -866px;
}

#ws b {
    background-position: -10px -1046px;
}

#em b {
    background-position: -10px -830px;
}

#lk b {
    background-position: -10px -1082px;
}

#rt b {
    background-position: -10px -1112px;
}

a#sb {
    border: 1px solid #C2E1EF;
    background: #DFF4FF;
    text-align: center;
    color: #336699;
    padding-left: 0;
}

a#pb {
    border: 1px solid #EFD1D1;
    background: #FFE5E3;
    text-align: center;
    color: #AF2B2B;
    padding-left: 0;
}

.tooltip {
    font-size: 11px;
    font-family: Arial;
    font-weight: bold;
    color: #CF9919 !important;
}

.cfo .tooltip {
    color: #427F00 !important;
}

.cfi .tooltip {
    color: #3B699F !important;
}

#lightbox span.half {
    padding-left: 20px;
}

.hasFields #nofields, #forceCaptcha {
    display: none;
}

.hasFields #forceCaptcha {
    display: block;
}

#nofields, .nofieldsonpage {
    cursor: pointer;
    -o-box-shadow: rgba(0,0,0,0.15) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.15) 0px 1px 3px;
}

.nofieldsonpage {
    margin: 25px 0 20px 0;
}

#nofields {
    margin: 80px 20px 0 20px !important;
}

    #nofields p {
        margin: 0 0 15px 0;
    }

#formPreview .notice {
    padding: 25px 20px 25px 20px;
}

    #formPreview .notice h2 {
        font-size: 155%;
        margin: 0 0 5px 0;
        color: #5D9822 !important;
        font-weight: bold;
    }

    #formPreview .notice p {
        margin-left: 25px;
        line-height: 135%;
    }

#addFields .notice {
    text-align: center !important;
    margin: 0 0 15px 0;
    padding: 10px;
    display: inline-block;
}

    #addFields .notice[class] {
        display: block;
    }

#fieldProperties .notice {
    margin: 0;
    padding: 15px;
}

.promo {
    width: auto;
    margin: 0 10px;
}

#formPreview li {
   /*background-color: transparent !important;*/
    margin: 0 0 1px 0;
    border: 1px dotted transparent;
}

* html #formPreview li {
    border-color: #ffffff;
}

    #formPreview li, #formPreview li * {
        cursor: pointer !important;
    }

        #formPreview li.section h3, #formPreview li.captcha {
            border-top: 1px dotted #ccc;
        }

        #formPreview li.first h3 {
            border-top: 1px solid #fff;
        }

        #formPreview li.section div {
            margin-bottom: .8em;
        }

        /*#formPreview li:hover, #formPreview li.hvr {
            border: 1px dashed #3B699F !important;
        }*/

#formPreview .info:hover, li#pageHeader:hover {
    border: 1px dashed #619F1D !important;
}

.cfo #formPreview div.editing, #pageHeader.editing {
    border: 1px solid #C2EF95 !important;
    background-color: #E7FFCF !important;
}

.cfi #formPreview li.editing, .cfi #formPreview li.editing.paging-nav .page-indicator {
    border: 1px solid #C2D7EF !important;
    background-color: #DFEFFF !important;
}

    #formPreview li.paging-nav.hover, #formPreview li.paging-nav:hover, .cfi #formPreview li.editing.paging-nav {
        border: 1px solid #fff !important;
        border-top: 1px dotted #ccc !important;
        background: none !important;
    }

#formPreview li.private {
    background-image: url(/images/icons/locksmall.gif) !important;
    background-repeat: no-repeat;
    background-position: 98% 7px;
}

#pageHeader {
    padding: 5px 5px 6px 5px;
    width: 98% !important;
}

    #pageHeader table {
        margin-bottom: 5px;
    }

    #pageHeader .fade {
        color: #000;
        font-weight: bold;
        font-size: 15px;
        padding: 4px 0 10px 0;
        opacity: 0.3;
        -moz-opacity: 0.3;
        filter: alpha(opacity=30);
    }

#formPreview li.paging-context {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 7px;
}

.pgStyle2 var, #pageHeader .pgStyle2 td {
    background: #fff !important;
}

#formPreview .paging-nav {
    border-top: 1px dotted #ccc;
    padding: 0;
    width: 100% !important;
}

#formPreview .page-indicator {
    clear: left;
    text-align: center;
    margin: 0 !important;
    position: absolute;
    left: 0;
    bottom: 7px;
    padding: 0 !important;
    width: 100% !important;
}

#formPreview .page {
    padding-bottom: 47px;
}

.page-indicator h3 {
    position: relative;
    height: 10px;
    border-bottom: 3px dashed #dedede;
    padding-top: 17px;
    margin: 0 0 10px 0;
}

    .page-indicator h3 strong {
        position: absolute;
        left: 50%;
        bottom: -10px;
        width: 100px;
        height: 20px;
        line-height: 20px;
        margin: 0 0 0 -50px;
        text-align: center;
        color: #000;
        background: #fff;
        font-size: 15px;
    }

.cfi #formPreview li.editing .page-indicator h3 {
    border-bottom: 3px dashed #A3BFDF;
}

    .cfi #formPreview li.editing .page-indicator h3 strong {
        background: #DFEFFF;
    }

#formPreview .marker {
    padding-top: 11px;
}

#formPreview li.dragfld, #formPreview li.dragfld:hover {
    cursor: move !important;
    border: 1px dashed green !important;
    background: #FFF;
    height: 50px;
}

#formPreview li.bigger {
    height: 100px !important;
}

#formPreview li.biggest {
    height: 180px !important;
}

#formPreview li.wide {
    width: 94% !important;
}

#formPreview li.dragfld a {
    visibility: hidden;
}

#formPreview .info {
    padding-top: 10px;
    border: 1px solid #fff;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
    position: relative;
}

#formPreview label.desc {
    overflow: hidden;
}

#formPreview .instruct {
    margin-top: -1px;
}

#formPreview li {
    position: relative;
}

    #formPreview li.likert, #formPreview li.section {
        width: auto !important;
    }

.handle {
    position: absolute;
    height: 82%;
    width: 95%;
}

.arrow {
    /*visibility: hidden;*/
    position: absolute;
    z-index: 50;
    right: 100%;
    margin: 0 1px 0 0;
    width: 16px;
    height: 28px;
}

* html .arrow {
    display: none;
}

.fieldActions {
    visibility: hidden;
    margin: 0 !important;
    position: absolute;
    right: -15px;
    bottom: -15px;
    z-index: 9000 !important;
    text-align: center;
    width: auto !important;
    min-width: 0 !important;
    background: #f5f5f5;
    border: 1px solid #bbb;
    line-height: 18px;
    padding: 5px 4px 2px 4px !important;
    border-radius: 12px;
    -o-box-shadow: rgba(0,0,0,0.15) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.15) 0px 1px 3px;
}

.section .fieldActions, .buttons .fieldActions, .likert .fieldActions, .noI .fieldActions {
    right: 7px;
}

* html .fieldActions {
    bottom: -.9em;
}

* + html .fieldActions {
    bottom: -.9em;
}

    .fieldActions img {
        cursor: pointer;
        margin: 0 1px;
    }

.editing .arrow, .editing .fieldActions {
    visibility: visible;
}

.rtl .leftLabel .arrow, .rtl .rightLabel .arrow {
    display: none;
}

#side form {
    clear: left;
    width: 340px;
    margin: 0 auto;
    padding: 15px 0px;
    font-size: 11px;
}

    #side form li {
        /*position: static;
        display: inline-block;
        clear: left;*/
        margin: 0 0 7px 0;
        /*padding: 0;*/
    }

#side[id] form li {
    display: block;
}

#side label, #side legend {
    color: #333;
    font-size: 11px;
    text-align: left;
}

#side fieldset .choice {
    color: #333;
    text-align: left;
    font-weight: normal;
}

#side input.text, #side textarea.textarea, #side select.select {
    background: #fff;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 0;
    border-radius: 7px;
}

* html #side select.select {
    font-size: 13px;
    display: inline-block;
    margin-top: 1px;
}

* + html #side select.select {
    font-size: 13px;
    display: inline-block;
    margin-top: 1px;
}

.firefox #side select.select {
    padding: 2px 1px 2px 0;
}

#side input.large, #side textarea.textarea {
    width: 98%;
    min-width: 98%;
}

#side .textarea {
    height: 5em;
}

#side .radio, #side .checkbox {
    display: inline;
    margin: 0 5px 2px 10px;
}

#side .choice {
    display: inline;
    margin: 0;
}

    #side .choice[class] {
        padding: 0;
    }

* + html #fieldProperties .radio, * + html #fieldProperties .checkbox {
    margin-bottom: 2px;
}

#formProperties {
    display: none;
}

    #formProperties li {
        margin: 4px 0;
    }

    #formProperties #formName {
        width: 70%;
    }

.listIP .checkbox, .listSchedule .checkbox {
    margin-left: 3px !important;
}

option[dir="rtl"] {
    text-align: right;
}

#listStartDate label {
    padding-top: 5px;
    color: #578F1A;
}

#listEndDate label {
    color: #CF3B19;
}

#listStartDate, #listEndDate {
    width: 98%;
    margin: 0 0 5px 10px !important;
}

    #listStartDate img, #listEndDate img {
        margin: 0 7px 0 0;
    }

input.year {
    width: 3em;
}

input.month, input.days {
    width: 2em;
}

#fieldProperties {
    display: none;
}

    #fieldProperties .num {
        float: right;
        text-align: center;
        font-size: 300%;
        color: #3670AF;
        width: 25%;
    }

#side #fieldTitle1 {
    width: 70%;
    min-width: 70%;
    height: 3.7em;
}

div.clear {
    padding: 0;
    margin: 0;
}

.cfo #side legend, .cfo #side fieldset {
    background: #D8EFB3;
}

.cfi #side legend, .cfi #side fieldset {
    background: #CFE7FF;
}

#side fieldset {
    margin: 3px 0 0 0;
    padding: 3px 0 10px 0;
    border: none;
    color: #333;
    position: relative;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #cfe7ff none repeat scroll 0 0;
}

#side legend {
    font-weight: bold;
    padding: 4px 7px 4px 10px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #cfe7ff none repeat scroll 0 0;
}

* html #side fieldset {
    padding-top: 12px;
    margin-bottom: 3px;
}

* + html #side fieldset {
    padding-top: 12px;
    margin-bottom: 3px;
}

* html #side legend {
    position: absolute;
    left: -7px;
    top: -1.4em;
}

* + html #side legend {
    position: absolute;
    left: -7px;
    top: -1.4em;
}

* html .choices {
    margin-bottom: 1.6em !important;
}

* + html .choices {
    margin-bottom: 1.6em !important;
}

#side #formProperties legend {
    z-index: 2000;
}

#formProperties fieldset div {
    display: block;
    border-radius: 10px;
}

#formProperties fieldset .radio {
    margin-left: 0;
}

div.clear, .noheight {
    height: 0;
    line-height: 0;
    padding: 0 !important;
}

#formProperties fieldset {
    margin-bottom: 1em;
}

    #formProperties fieldset ul {
        clear: both;
        width: 92%;
        margin: 0 10px 6px 10px;
    }

    #formProperties fieldset .highlight {
        border: 1px solid #BFDF8B;
        background: #EDFFCF;
        padding: 5px 3px;
        margin: 0 10px 0px 10px;
    }

#formReceiptDiv {
    margin: 11px 0 0 15px;
    padding-bottom: 10px;
}

#formSendTo, #receiptReplyTo {
    margin-bottom: 5px !important;
}

#receiptReplyTo {
    width: 170px !important;
}

#formSendTo {
    width: 178px !important;
}

.highlight .desc {
    width: 70px;
    float: left;
    font-weight: normal !important;
}

.highlight .choice {
    font-weight: bold !important;
}

#customButton, #bulkButton, #bulkButton2 {
    margin: 6px 0 2px 0;
    padding: 2px 6px;
    width: auto;
    overflow: visible;
    font-size: 100%;
}

.limitform .desc {
    font-weight: normal;
}

#entrySpan {
    padding: 4px 0 0 4px;
    font-weight: bold;
}

#formEntryLimit {
    width: 60px !important;
}

#listNextButtons .clear {
    padding-top: 5px;
}

#listPreviousButtons .desc {
    font-weight: normal;
}

#listPagination, .paging #formSettings {
    display: none !important;
}

.paging #listPagination {
    display: block !important;
    padding-top: 20px;
}

#listPagination fieldset {
    padding-bottom: 5px;
}

#formProperties .pagingStyles {
    padding: 5px 0 6px 5px;
    margin-bottom: 0 !important;
}

#formProperties #pageTitles {
    padding: 10px 0 1px 5px;
}

#formProperties .pagelabelul {
    padding: 10px 0 0 0;
    margin-bottom: 0;
}

.paymentPageTitle {
    padding-top: 5px !important;
    display: none !important;
}

.paymentEnabled .paymentPageTitle {
    display: block !important;
}

.paymentPageTitle h4 {
    font-size: 9px;
    color: #6A8549;
    margin-bottom: 4px;
}

#listChoices {
    padding: 2px 0 12px 0;
}

* html #listChoices {
    width: 289px;
}

.choices input.text {
    width: 250px;
    margin: 0 3px;
}

.choices[class] input.text {
    width: 255px;
}

.choices ul {
    width: 320px;
    margin: 7px 0 0 10px;
}

.choices input.statement {
    width: 270px !important;
}

.minmax div {
    width: 280px;
    margin: 0 auto;
}

.minmax label {
    font-weight: normal;
}

.minmax input {
    width: 100px;
}

.minmax select {
    width: 100px;
}

.choices img {
    margin: 0 0 -3px 0;
    cursor: pointer;
}

.choices label.choice {
    font-weight: bold !important;
}

.choices div {
    border: 1px dotted #AFD7FF;
    background-color: #DFEFFF;
    padding: 5px 3px;
    margin: 5px 10px 0px 10px;
    border-radius: 10px;
}

.choices .dropReq {
    position: relative;
    background-color: #FFF5BD;
    padding: 7px !important;
    margin: 5px 10px 0px 10px;
    border-radius: 10px;
}

* html .choices .dropReq {
    width: 90%;
}

    .choices .dropReq input.text {
        width: 170px;
        color: #888 !important;
    }

    * html .choices .dropReq input.text {
        width: 150px;
    }

    .choices .dropReq .tooltip {
        display: block;
        float: right;
        margin: 4px 3px 0 0;
    }

#formProperties .choice {
    font-weight: bold;
    line-height: 1.7em;
}

#listPopulate, #listBulkLikert {
    background: none;
    border: none;
    padding: 0;
    margin-top: 0;
    text-align: center;
}

    #listPopulate input {
        margin: 4px 0 4px 0px;
    }

#listButtons {
    padding-top: 10px !important;
}

    #listButtons .left label, #listButtons .right label {
        padding-left: 7px;
    }

    #listButtons input.text {
        width: 94%;
    }

    #listButtons .left, #listButtons .right, #listButtons .file {
        padding-bottom: 5px;
    }

    #listButtons .center {
        padding-top: 10px;
    }

    #listButtons button {
        padding: 3px 5px 4px 5px;
    }

.btxt, .bimg {
    display: none !important;
}

.asTxt .btxt, .asImg .bimg {
    display: block !important;
}

.pagingStyles label {
    padding-right: 10px;
}

#listPagination label.desc {
    margin-left: 10px;
    margin-bottom: 3px;
}

.pagingStyles {
    margin-bottom: 15px !important;
}

.pageTitles {
    margin-top: 0 !important;
    margin-bottom: 12px !important;
}

#listPagination .pageTitles input {
    width: 83%;
}

#pagelabelul label {
    padding-left: 3px !important;
}

#lightbox table {
    width: 100%;
}

#lightbox td {
    vertical-align: top;
    text-align: left;
}

.choiceMenu{
    height: 202px;
    margin: 0;
    padding: 0;
    border-bottom: 1px dotted #ccc;
    overflow: auto;
    list-style: none;
}



    .choiceMenu  a {
        display: block;
        margin: 0 10px 0 0;
        background-color: #f5f5f5;
        border: 1px solid #dedede;
        border-top: 1px solid #eee;
        border-left: 1px solid #eee;
        height: 30px;
        line-height: 30px;
        color: #444;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
    }

        .choiceMenu a:hover {
            background-color: #dff4ff;
            border: 1px solid #B3D1EF;
            color: #336699;
        }

        .choiceMenu a:active {
            background-color: #6299c5;
            border: 1px solid #6299c5;
            color: #fff;
        }

.flow {
    padding: 0 0 0 20px;
}

    .flow div {
        font-weight: bold;
        font-size: 170%;
        line-height: 202px;
        border-left: 2px solid #529214;
        color: #529214;
        text-indent: -3px;
    }

#choiceText {
    text-align: right;
    width: 50%;
}

    #choiceText textarea {
        height: 200px;
        margin: 0 0 10px 0;
    }

.bulkButton {
    text-align: right;
}

    .bulkButton .negative {
        margin-right: 0;
    }

div.calendar {
    position: relative;
    z-index: 15000;
    box-shadow: rgba(0,0,0,0.4) 0px 2px 7px;
    border-radius: 11px;
    background-clip: padding-box;
}

.calendar table {
    cursor: pointer;
    font-size: 11px;
    color: #000;
    background: #fff;
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    border-radius: 11px;
    background-clip: padding-box;
}

.calendar .button {
    text-align: center;
    padding: 3px 0;
}

.calendar .question {
    border-top-left-radius: 11px;
}

.calendar .close {
    border-top-right-radius: 11px;
}

.calendar thead .title {
    font-weight: bold;
    text-align: center;
    background: #fff;
    color: #000;
    font-size: 12px;
    padding: 5px 0 5px 0;
}

.calendar thead .headrow {
    background: #dedede;
    color: #333;
    font-weight: bold;
}

.calendar thead .daynames {
    background: #f5f5f5;
    color: #333;
}

.calendar thead .name {
    padding: 3px 2px;
    text-align: center;
    color: #000;
    border-bottom: 1px solid #dedede;
}

.calendar thead .weekend {
    color: #666;
    background: #dedede;
}

.calendar thead .hilite {
    background-color: #444;
    color: #fff;
    padding: 1px;
}

.calendar thead .active {
    background-color: #d12f19;
    color: #fff;
}

.calendar tbody .day {
    width: 2em;
    color: #222;
    text-align: right;
    padding: 3px 2px;
    border: 1px solid #fff;
}

    .calendar tbody .day.othermonth {
        font-size: 80%;
        color: #bbb;
    }

        .calendar tbody .day.othermonth.oweekend {
            color: #fbb;
        }

.calendar table .wn {
    padding: 2px 2px 2px 2px;
    border-right: 1px solid #000;
    background: #666;
}

.calendar tbody .rowhilite td, .calendar tbody .rowhilite td.wn {
    background: #ddd;
}

.calendar tbody td.hilite {
    background: #444 !important;
    color: #fff !important;
}

.calendar tbody td.active {
    color: #529214;
    background: #529214 !important;
}

.calendar tbody td.selected {
    font-weight: bold;
    border: 1px solid #888;
    padding: 1px;
    background: #f5f5f5 !important;
    color: #222 !important;
}

.calendar tbody td.weekend {
    color: #666;
}

.calendar tbody td.today {
    font-weight: bold;
    color: #529214;
    background: #D9EFC2;
}

.calendar tbody .disabled {
    color: #999;
}

.calendar tbody .emptycell {
    visibility: hidden;
}

.calendar tbody .emptyrow {
    display: none;
}

.calendar tfoot .footrow {
    text-align: center;
    color: #fff;
    padding: 6px 0;
}

.calendar tfoot .ttip {
    background: #556;
    color: #fff;
    font-size: 10px;
    border-top: 1px solid #dedede;
    padding: 4px 0;
    -moz-border-radius-bottomright: 11px;
    -moz-border-radius-bottomleft: 11px;
    -webkit-border-bottom-left-radius: 11px;
    -webkit-border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    width: 192px;
}

.calendar tfoot .hilite {
    background: #aaf;
    border: 1px solid #04f;
    color: #000;
    padding: 1px;
}

.calendar tfoot .active {
    background: #77c;
    padding: 2px 0px 0px 2px;
}

.calendar .combo {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    width: 4em;
    border: 1px solid #ccc;
    background: #f5f5f5;
    color: #222;
    font-size: 90%;
    z-index: 100;
}

    .calendar .combo .label, .calendar .combo .label-IEfix {
        text-align: center;
        padding: 1px;
    }

    .calendar .combo .label-IEfix {
        width: 4em;
    }

    .calendar .combo .hilite {
        background: #444;
        color: #fff;
    }

    .calendar .combo .active {
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        background: #dedede;
        font-weight: bold;
    }
