 /*admin grid css*/

.admin-pane, .panel-grey {
    background-color: #f2f2f2;
    border: 1px solid #c8c8c8;
    padding: 1px;
    height: 490px;
    overflow-y: auto;
    overflow-x: hidden;
}
.admin-pane-inner, .panel-grey-inner {
    background-color: #fff;
    border: 1px solid #d8d8d8;
}
.admin-pane-content {
    padding: 18px;
}
.admin-pane-footer {
    background-color: #e2e2e2;
    border-bottom: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    padding: 10px;
}
.admin-pane-header {
    background: none repeat scroll 0 0 #f8f8f9;
    border-bottom: 1px solid #cfd0d1;
}
.admin-pane-header h1 {
    padding: 10px 0 10px 10px;
}
.admin-pane-inner h1, .admin-pane-inner h2, .admin-pane-inner h3, .admin-pane-inner h4 {
}
.admin-pane-inner h2 {
    padding-bottom: 8px;
}
 /*......................table css*/
table.dataGrid {
    border-collapse: collapse;
    line-height: 1.3em;
    margin-top: 8px;
    width: 100%;
}
table.dataGrid tr {
    height: 30px;
}
tr.selectable:hover {
    background-color: #e5f3fc;
    cursor: pointer;
}
table.dataGrid th {
    -moz-user-select: none;
    border-bottom: 3px solid #c8c8c8;
    font-weight: bold;
    padding: 5px 0 5px 10px;
    text-align: left;
     font-size: 15px;
}
table.dataGrid td {
    border-bottom: 1px solid #e2e2e2;
    padding: 13px 10px;
     font-size: 15px;
}
table.dataGrid th[sortname] {
    cursor: pointer;
}
table.variableGrid {
    border-collapse: collapse;
    line-height: 1.3em;
    width: 100%;
}
table.variableGrid tr {
    height: 50px;
}
table.variableGrid td {
    border-bottom: 1px solid #e2e2e2;
    padding: 4px 10px;
}
table.variableGrid input[type="checkbox"] {
    margin-right: 6px;
    vertical-align: bottom;
}
table.editable-rows {
    width: 100%;
}
table.editable-rows tr {
    height: 1.5em;
    margin-bottom: 5px;
}
table.editable-rows th {
    font-weight: normal;
    text-align: left;
}
table.editable-rows td {
    padding: 0 10px 5px 0;
}
table.editable-rows td.editable-text {
    padding-right: 20px;
}
table.editable-rows td.editable-help {
    padding: 0;
}
table.editable-rows input[type="text"] {
    border: 1px solid #c8c8c8;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 1em;
    padding: 4px;
    width: 100%;
}
table.editable-rows select {
    font-size: 1.1em;
    height: 26px;
    width: 100%;
}
table.editable-rows button {
    height: auto;
    line-height: 18px;
    padding: 3px 0;
    width: 26px;
}
table.dataGrid.fixedLayout {
    table-layout: fixed;
}
table.dataGrid.singleLine td {
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}
table.dataGrid.lineWrap td {
    vertical-align: top;
}
