.tile {
    background: none repeat scroll 0 0 #cdcdcd;
    border: 3px solid #cdcdcd;
    box-sizing: border-box;
    float: left;
    margin: 3px;
    position: relative;
}
.tile:hover {
    background: none repeat scroll 0 0 #bbb;
    border: 3px solid #999;
    cursor: pointer;
}
.tileRegular {
    height: 40px;
    width: 246px;
}
.tileLarge {
    height: 60px;
    width: 246px;
}
.tileBig {
    height: 120px;
    width: 246px;
}
.tileHuge {
    height: 246px;
    width: 246px;
}
.tile img {
    height: 32px;
    left: 4px;
    position: absolute;
    top: 1px;
}
.tile span {
    bottom: 7px;
    color: #333;
    font-size: 16px;
    left: 48px;
    position: absolute;
}
.tile ul {
    left: 110px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 24px;
}
.tile ul li {
    color: #666;
    line-height: 13px;
}
.tile .borderless i {
    bottom: 1px;
    position: absolute;
    right: 1px;
}
.tile .iconRotate {
    background-color: transparent;
    border: 1px solid red;
    bottom: 11px;
    position: absolute;
    right: 0;
    transform: rotate(45deg);
    width: 20px;
}
.tileDisabled {
    opacity: 0.4;
}
.tileDisabled:hover {
    background: none repeat scroll 0 0 #cdcdcd;
    border: 3px solid #cdcdcd;
    cursor: default;
}

