
#userid 
{
    background-size: 32px 32px;
    border-radius: 50%;
    display: block;
    margin: -22px;
    height: 32px;
    width: 32px;
    float: right;
    cursor: pointer;
}

#popup 
{
    position: absolute;
    height: 220px;
    width: 320px;
    border: 1px solid rgb(245, 245, 245);
    display: none;
    font-size: small;
    background: rgb(242, 242, 247);
}

.gb_ba
{
    margin: 20px;
}

.gb_ca
{
    margin-right: 20px;
    position: relative;
}

.gb_ca, .gb_da
{
    display: inline-block;
    vertical-align: top;
}

.gb_aa
{
    color: #ccc;
    margin: 6px 0;
}

.gb_ia
{
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    padding: 10px 0;
    width: 100%;
    display: table;
}

#gb a.gb_T.gb_T
{
    color: #666;
    cursor: default;
    text-decoration: none;
}

.gb_ia > div:first-child
{
    text-align: left;
}

.gb_ia > div
{
    display: table-cell;
    text-align: right;
}

#gb a.gb_T.gb_T
{
    color: #666;
    cursor: default;
    text-decoration: none;
}

.gb_ia .gb_T
{
    margin: 0 20px;
}

.gb_z
{
    display: block;
}

.gb_z
{
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    display: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 44px;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: text;
}

.gbip
{
    background-image: url("/Images/ProfileImages/photo1.jpg");
}

.gb_ea
{
    background-size: 96px 96px;
    border: none;
    vertical-align: top;
    height: 96px;
    width: 96px;
}


