.layout-grid {
    width: 100%;
}
.layout-grid > tbody > tr > td {
    vertical-align: top;
}
.layout-cell {
    overflow: hidden;   
    vertical-align:middle;
 
}
.layout-grid .layout-cell {
    height: 100%;
}
#klip-preview .layout-cell {
    border: 1px solid transparent;
}
.layout-cell .comp {
    clear: both;
    overflow: hidden;
}
.layout-cell .floater {
    float: left;
    width: 100%;
}
.layout-cell .floater.middle {
    height: 50%;
}
.layout-cell .floater.bottom {
    height: 100%;
}
#workspace .layout-grid {
    border-left: 1px dashed #c5c6c8;
}
#workspace .layout-grid > tbody > tr > td {
    border-bottom: 1px dashed #c5c6c8;
    border-right: 1px dashed #c5c6c8;
 
}
#workspace .layout-grid .layout-active-cell {
    background-color: #e5f5fe;
    border: 1px solid #7acaed;
}
#workspace .layout-grid .layout-hover-cell {
    border: 1px solid #5dc36b;
}
#workspace .layout-grid .drop-target-valid > .layout-cell {
    border: 1px solid #5dc36b;
}
#workspace .layout-grid .drop-target-valid, #workspace .layout-grid .drop-target-valid > .layout-cell, #workspace .layout-grid .drop-target-valid > .layout-cell > .comp {
    cursor: move;
}


.grid-layout .layout-cell {
    border-left: 1px solid transparent;
}
.grid-layout .layout-cell:last-child {
    border-right: 1px solid transparent;
}
.grid-layout.gridlines .layout-cell {
    border-left: 1px dashed #457fd0;
}
.grid-layout.gridlines .layout-cell:last-child {
    border-right: 1px dashed #457fd0;
}


.grid-layout .layout-cell {
    border-left: 1px solid transparent !important;
}
.grid-layout .layout-cell:last-child {
    border-right: 1px solid transparent !important;
}

