.cx-table {
     border: 0 solid #ececec;
        border-collapse: separate;
        overflow: hidden;
        table-layout: fixed;
}

    .cx-table tblheaders {
        border: 0 solid #ececec;
        border-collapse: separate;
        overflow: hidden;
        table-layout: fixed;
    }

    .cx-table .border-left-1 {
        border-left-width: 1px;
    }

    .cx-table .border-top-1 {
        border-top-width: 1px;
    }

    .cx-table th {
        background-color: #f8f8f8;
        color: #888888;
        border: 0 solid #ECECEC;
        cursor: pointer;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
    }

    .cx-table .cell {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .cx-table overview {
        table-layout: fixed;
        border-collapse: separate;
        overflow: hidden;
        border: 0 solid #ECECEC;
    }

.border-left-1 {
    border-left-width: 1px;
}

.cx-table .border-top-1 {
    border-top-width: 1px;
}

.cx-table .border-right-1 {
    border-right-width: 1px;
}

.cx-table th {
    background-color: #f8f8f8;
    color: #888888;
    border: 0 solid #ECECEC;
    cursor: pointer;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.cx-table overview .cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cx-table .selected-component {
    background-color: #def2ff;
}

.cx-table td {
    background-color: #fefefe;
    border: 0 solid #ececec;
    color: #4a4a4a;
    font-weight: bold;
}

    .cx-table td div.cell {
        padding: 3px 8px;
    }

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.cx-color_444 {
    color: #444444;
}

.label-size-1 {
    font-size: 0.9em;
    font-weight: bold;
    line-height: 140%;
}
