
<link rel="stylesheet" type="text/css" href="../css/common/rubus-app.css" />
<body>
    <div class="breadcrumbs" id="breadcrumbs">

        <ul class="breadcrumb">
            <li><i class="ace-icon fa fa-home home-icon"></i><a href="#">Home</a></li>
            <li><a>Admin</a></li>
            <li>User</li>
        </ul>
    </div>
<!-------------------------------------------------------------------------------Toolbar------------------------------------------------------>
    <div class="icon-bar">
        <a class="disableicons Toolbar_Settings" title="Settings">
            <img src="../img/ToolbarIcons/Settings.png" /></a>
        <a class="disableicons Toolbar_UploadImage" title="Upload Image">
            <img src="../img/ToolbarIcons/UploadImage.png" /></a>
        <a class="disableicons Toolbar_UploadFile" title="Upload CSV">
            <img src="../img/ToolbarIcons/UploadFile.png" /></a>
        <a class="disableicons Toolbar_ExportPDF" title="Export PDF">
            <img src="../img/ToolbarIcons/ExportPDF.png" /></a>
        <a class="disableicons Toolbar_ExportExcel" title="Export Excel">
            <img src="../img/ToolbarIcons/ExportExcel.png" /></a>
        <a class="disableicons Toolbar_Draft" title="Open Draft">
            <img src="../img/ToolbarIcons/OpenDraft.png" /></a>
        <a class="disableicons Toolbar_Preview" title="Preview">
            <img src="../img/ToolbarIcons/Preview.png"></a>
         <a class="disableicons Toolbar_Create" title="Invoke">
            <img src="../img/ToolbarIcons/Invoke.png" /></a>
        <a class="disableicons Toolbar_Cancel" title="Cancel">
            <img src="../img/ToolbarIcons/Cancel.png"></a>
        <a class="Toolbar_Delete" title="Delete Record" ng-click="fn_user_delete()">
            <img src="../img/ToolbarIcons/Delete.png" /></a>
        <a class="Toolbar_List" title="View Entries" href="#UserFormList">
            <img src="../img/ToolbarIcons/List.png" /></a>
        <a class="Toolbar_Edit" title="Edit" ng-click="fn_user_update()">
            <img src="../img/ToolbarIcons/Edit.png" /></a>
        <a class="disableicons Toolbar_Save" title="Save">
            <img src="../img/ToolbarIcons/Save.png" /></a>
        <a class="disableicons Toolbar_AddConnection" title="Add Connection">
            <img src="../img/ToolbarIcons/AddConnection.png"></a>
        <a class="disableicons Toolbar_AddDB" title="Add Stored Procedure">
            <img src="../img/ToolbarIcons/AddDB.png"></a>
        <a class="Toolbar_Create" title="Create" href="#Users">
            <img src="../img/ToolbarIcons/Create.png" /></a>

        <div class="page-header">
            <h1>Users List<small><i class="ace-icon fa fa-angle-double-right"></i>
            </small>
            </h1>
        </div>
    </div>
<!-------------------------------------------------------------------------------Toolbar------------------------------------------------------>

    <div style="background-color: #438eb9; margin-bottom: 1px;" class="col-sm-12 table-header visible_list">
        <label style="color: white; font: bold;">Users List</label>
    </div>
    <div ng-init="fn_userdata_list()">
    <table class="table table-striped table-bordered table-hover" id="user_table">
        <thead id="listhead">
            <tr>
                <th>Employee Id</th>
                <th>Full Name</th>
                <th>Emaild Id</th>
                <th>Role</th>
                <th>Active</th>

            </tr>
            <tbody id="list_userBody">
            </tbody>
    </table>
  </div>
</body>
